

body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
  max-width: 1150px;
  margin: 40px auto;
  font-family: 'Anonymous Pro', monospace;
}

.App a {
  background: #fff;
  color: #000;
  text-decoration-color: #b1b1b1;
}

.App .LinkButton {
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
  padding: 3px 10px;
  margin-right: 3px;
  white-space: nowrap;
  background-color: #fff;
  border-color: #fff;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #b1b1b1;
}

.App a:hover,
.App .LinkButton:hover {
  text-decoration-color: #000;
}

.App ul {
  padding: 0;
  margin: 0;
}

.App li {
  font-size: 16px;
  line-height: 150%;
}

.Main {
  display: grid;
}

.Main-header {
  padding: 40px;
  font-size: 20px;
  letter-spacing: 1.3px;
  font-weight: 700;
  line-height: 28px;
  background-color: #000;
  color: #fff;
}

.Main-header a {
  padding: 3px 10px;
  margin-right: 3px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 19px;
}

.Main-header .LinkButton {
  font-size: 20px;
  letter-spacing: 1.3px;
  font-weight: 400;
  font-size: 19px;
}

.Main-header--name {
  font-size: 26px;
  padding: 5px 10px;
  letter-spacing: 6px;
}

.Main-body {
  padding: 39px;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

.Main-body--title {
  font-size: 22px;
  padding: 5px 10px;
  letter-spacing: 1.5px;
}

.Footer {
  text-align: right;
}

.Section {
  display: grid;
  grid-template-rows: auto 1fr;
  color: #000;
  background-color: #fff;
}

.Section-header {
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px 10px;
  letter-spacing: 6px;
  background-color: #000;
  color: #fff;
}

.Section-body {
  display: grid;
  grid-row-gap: 25px;
  padding: 24px;
  border: 1px solid #000;
}

.Section-item {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 7px;
  align-content: start;
}

.Section-itemHeader {
  font-weight: bold;
  font-size: 18px;
}

.Resume {
  display: grid;
  grid-template-columns: 1fr 365px;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-areas: 
    "jobs schools"
    "jobs skills"
    "projects projects";
}

.Resume-jobs {
  grid-area: jobs;
}

.Resume-schools {
  grid-area: schools;
}

.Resume-skills {
  grid-area: skills;
}

.Resume-projects {
  grid-area: projects;
}

.CodingProjects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  align-content: start;
}

.MusicProjects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.MusicProjects-project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-row-gap: 25px;
}

.MusicProjects-embed::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: 98%;
}

.MusicProjects-embed {
  position: relative;
}

.MusicProjects-embed iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.MusicProjects-text {
  display: grid;
  grid-template-rows: 1fr;
  padding: 24px;
  border: 1px solid #000;
}

@media only screen and (max-width: 1230px) {
    .App {
      margin: 40px;
    }
}

@media only screen and (max-width: 1000px) {
  .Resume {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
      "jobs jobs"
      "skills schools"
      "skills projects";
  }

  .CodingProjects {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 940px) {
  .Resume {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "jobs"
      "schools"
      "skills"
      "projects";
  }

  .CodingProjects {
    display: grid;
    grid-template-columns: 1fr;
  }

  .MusicProjects {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  * {
    white-space: normal !important;
  }
}


@media only screen and (max-width: 730px) {
  .MusicProjects {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    margin: 0;
    grid-row-gap: 0px;
  }

  .App * {
    border: 0 !important;
  }

  .Main-header,
  .Main-body,
  .Section-body,
  .MusicProjects {
    padding: 25px;
  }

  .Main-header--name,
  .Main-body--title,
  .Section-header {
    padding: 5px 25px;
  }

  .Resume {
    padding: 0;
    margin-top: 25px;
    grid-row-gap: 0px;
  }

  .CodingProjects,
  .MusicProjects {
    grid-row-gap: 25px;
  }

  .MusicProjects-text {
    padding: 0;
  }
}

.Resume-printHeader,
.Resume-printContact {
  display: none;
}

@media only print {
  * {
    visibility: hidden;
  }

  .App {
    margin: 0;
  }

  .Resume,
  .Resume * {
    visibility: visible;
  }

  .Main--music {
    display: none;
  }

  .App a {
    text-decoration: none;
  }

  .Resume {
    position: absolute;
    top: 0;
    grid-template-columns: 2fr 1.2fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "print print" "jobs contact" "jobs schools" "jobs skills";
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    border: 0;
    padding-bottom: 0;
  }

  .Resume-printHeader,
  .Resume-printContact {
    display: block;
  }

  .Resume-printHeader {
    padding: 25px;
    font-weight: bold;
    font-size: 38.6px;
    letter-spacing: 6px;
    align-self: flex-start;
    padding-top: 20px;
    grid-area: print;
  }

  .Resume-printTitle {
    display: none;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 3px;
  }

  .Resume-printContact {
    grid-area: contact;
  }

  .Resume-printContact .Section-body {
    line-height: 15px;
  }
  
  .Resume-projects {
    display: none;
  }

  .Section-header {
    padding-left: 25px;
    padding-bottom: 10px;
    background: #fff;
    color: #000;
    font-weight: bold;
    font-size: 16px;
  }

  .Section-body {
    border: 0;
    padding-top: 0;
    align-content: flex-start;
  }

  .Section-itemHeader {
    font-size: 14px;
  }

  .Section-body,
  .App li {
    font-size: 12px;
  }
}